.costName {
	height: 4vh;
	background-color: #FFE48E;
	font-weight: 600;
	text-align: left;
	padding-top: .5vh;
	font-size: 1.5rem;
}

.costValue {
	height: 3vh;
	background-color: #FFE48E;
	font-weight: 550;
	margin-bottom: 4.2vh;
	text-align: right;
}

.costTitle {
	padding-bottom: 3.7vh;
}